Body{
    background-color:rgb(52, 14, 56);
    height: 1085px;
    overflow: scroll;
}

@font-face{
    font-family: Zapfino;
    src: url(Fonts/Zapfino.ttf)
}

.heading{
    font-family: Zapfino;
    color:beige;
    font-size: 650%;
    text-align: center;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

.footers{
    font-family: Redaction50-Bold;
}

.right-bottom-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgb(129, 57, 137);
  }

.left-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: rgb(129, 57, 137);
}

*{
    text-align: center;
}

button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(51, 22, 52);
    box-shadow: 0 10px 10px rgb(18, 2, 38);
}

.container{
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1{
    grid-row-start: 1 / 2;
    grid-column-start: 3 / 4;
}