body{
    background-image: url(gifs/trance-1.gif);
    background-size: cover;
}

a{
    color: aliceblue;
    font-size: 40px;
    margin-left: 5px;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}