Body{
    background-color:rgb(166, 203, 115);
}

h1{
    color:red;
    text-align: center;
    font-weight: bold;
    font-size: 700%;
    font-family: Verdana-Bold-Italic;
    text-shadow: -7px 0 yellow, 0 7px yellow, 7px 0 yellow, 0 -7px yellow;
    margin-left: auto;
    margin-right: auto;
}

@font-face{
    font-family: Verdana-Bold-Italic;
    src: url(Fonts/Verdana-Bold-Italic.ttf)
}

h2{
    color:rgb(4, 4, 119);
    text-align: center;
    font-weight: bold;
    font-size: 350%;
    font-family: Verdana-Bold-Italic;
    text-shadow: -3px 0 red, 0 3px red, 3px 0 red, 0 -3px red;
    margin-left: auto;
    margin-right: auto;
}