Body{
    background-color:rgb(14, 14, 56);
    height: 1085px;
    overflow: scroll;
}

.header{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 6fr;
    grid-template-rows: 100px;
    column-gap: 5px;
  }

.home-list{
    height: 100%;
    object-fit: contain;
    float: right;
}

.entry-no{
    margin-top: 25px;
    margin-left: 25px;
}

h1{
    position: absolute;
    color:red;
    top:55%;
    left: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 800%;
    font-family: Verdana-Bold-Italic;
    text-shadow: -7px 0 yellow, 0 7px yellow, 7px 0 yellow, 0 -7px yellow;
    margin-left: auto;
    margin-right: auto;
}
*{
    text-align: center;
}

button{
    place-items: center;
    border-radius: 30%;
    box-shadow: 0 10px 10px rgb(2, 2, 19);
    background-color: yellowgreen;
    margin-top: 25px;
}

.menu-icon{
    position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    margin-left: 5px;
    font-family: Redaction50-Bold;
}

.discoball{
    float:right;
    margin-top: 30px;
    transform: rotate(15deg);
    width: 700px;
    max-height: auto;
}
@font-face{
    font-family: Verdana-Bold-Italic;
    src: url(Fonts/Verdana-Bold-Italic.ttf)
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

h2{
    position: absolute;
    color:rgb(4, 4, 119);
    width: 500px;
    text-align: center;
    top: 34%;
    left: 5%;
    font-weight: bold;
    font-size: 350%;
    font-family: Verdana-Bold-Italic;
    text-shadow: -3px 0 red, 0 3px red, 3px 0 red, 0 -3px red;
    margin-left: auto;
    margin-right: auto;
}

.scrolling-text {
    position: fixed;
    bottom: 3%;
    left: 0;
    color: #da9f9f;
    width: 120%;
    padding: 10px;
    animation: scrollText 25s linear infinite;
    font-family: Verdana-Bold-Italic;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .right-bottom-text {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        color: yellowgreen;
        font-family: Redaction50-Bold;
      }

.left-bottom-text {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 10px;
      color: yellowgreen;
      font-family: Redaction50-Bold;
    }

.gifs{
    float: left;
}

.dance1{
    border-radius: 5%;
    margin-top: 1%;
    margin-left: 30%;
}

.dance2{
    position: absolute;
    left: 40%;
    border-radius: 6%;
}

.dance3{
margin-top: 4%;
margin-left: 25%;
border-radius: 10%;
}

h3{
    position: absolute;
    right: 7%;
    top: 95%;
    color:rgb(4, 4, 119);
    font-weight: bold;
    font-size: 350%;
    font-family: Verdana-Bold-Italic;
    text-shadow: -3px 0 red, 0 3px red, 3px 0 red, 0 -3px red;
}