Body{
    background-color:rgb(166, 203, 115);
}

h1{
    color:red;
    text-align: center;
    font-weight: bold;
    font-size: 500%;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    margin-left: auto;
    margin-right: auto;
}