Body{
    background-color:rgb(3, 58, 13);
    height: 1085px;
    overflow: scroll;
}

a{
    color: rgb(225, 221, 221);
    font-size: 40px;
    float: left;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}

button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(75, 93, 44);
    box-shadow: 0 10px 10px rgb(16, 31, 31);
    margin-top: 25px;
}

.header{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 6fr;
    grid-template-rows: 100px;
    column-gap: 5px;
  }

  .home-list{
    height: 100%;
    object-fit: contain;
    float: right;
}

.entry-no{
    margin-top: 25px;
    margin-left: 25px;
}

.footers{
    font-family: Redaction50-Bold;
}

.right-bottom-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgb(113, 146, 70);
  }

.left-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: rgb(113, 146, 70);
}