Body{
    background-color:rgb(47, 54, 11);
    height: 1085px;
    overflow: scroll;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(52, 44, 22);
    box-shadow: 0 10px 10px rgb(18, 38, 2);
}