body{
    background-image: url(gifs/trance-1.gif);
    background-size: cover;
    height: 1090px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    margin-left: 5px;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: black;
}

.trance_1{
    position: relative;
 float: left;
 margin-top: 30%;
 margin-left: 30px;
 width: 250px;
 height:auto;
 border-radius: 5%;
}

.trance_2{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 5%;
}

.trance_3{
    margin: 0 50% 0 75%;
    position: relative;
}

.footers{
    font-family: Redaction50-Bold;
}

.right-bottom-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgb(11, 14, 104);
  }

.left-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: rgb(11, 14, 104);
}

@font-face{
    font-family: Verdana-Bold-Italic;
    src: url(Fonts/Verdana-Bold-Italic.ttf)
}
