body{
    background-color: black;
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: black;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    margin-left: 5px;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}