Body{
    background-image: url(img/retro\ collage_1.jpeg);
}

h1{
    display:block;
    font-size: 500%;
    margin-left:auto;
    margin-right: auto;
    color: rgb(255, 10, 145);
    border-radius: 15px;
    font-family: Redaction50-Bold;
    text-align: center;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(59, 47, 96);
}