body{
    background-image: url(gifs/trance-1.gif);
    background-size: cover;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    margin-left: 5px;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(191, 47, 11);
}