Body{
    background-color:rgb(47, 54, 11);
    height: 1085px;
    overflow: scroll;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}

button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(52, 44, 22);
    box-shadow: 0 10px 10px rgb(18, 38, 2);
    margin-top: 25px;
}

.header{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 6fr;
    grid-template-rows: 100px;
    column-gap: 5px;
  }

  .home-list{
    height: 100%;
    object-fit: contain;
    float: right;
}

.entry-no{
    margin-top: 25px;
    margin-left: 25px;
}

.footers{
    font-family: Redaction50-Bold;
}

.right-bottom-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgb(11, 84, 130);
  }

.left-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: rgb(11, 84, 130);
}

.song_name{
    font-family: Redaction50-Bold;
    color: rgb(107, 113, 116);
  }

.video-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.video {
    width: 30%; /* Adjust the width as needed */
}

.input-container {
    width: 75%; /* Adjust width as needed */
    min-height: 7vh; /* Minimum height of 50% of the viewport height */
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden; /* To contain the expanding content */
}

textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: beige;
    opacity: 70%;
    font-size: 16px;
    resize: none; /* Disable textarea resizing */
    border: none; /* Remove textarea border */
    outline: none; /* Remove textarea outline */
    overflow: scroll; /* To hide scrollbar */
}