Body{
    background-color: rgb(118, 214, 206);
}

h1{
    display:block;
    font-size: 500%;
    margin-left:auto;
    margin-right: auto;
    color: rgb(226, 65, 20);
    border-radius: 15px;
    font-family: Redaction50-Bold;
    text-align: center;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: rgb(52, 44, 22);
}

.vinyl-grid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  padding: 30px;
  justify-content: center;
}

.vinyl{
    text-align: center;
}

.vinyl img{
    max-width: 100%;
    display: block;
}

.footers{
    font-family: Verdana-Bold-Italic;
}

.right-bottom-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgb(226, 65, 20);
    font-family: Verdana-Bold-Italic;
  }

.left-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: rgb(226, 65, 20);
  font-family: Verdana-Bold-Italic;
}

@font-face{
    font-family: Verdana-Bold-Italic;
    src: url(Fonts/Verdana-Bold-Italic.ttf)
}