body{
    background-color: #000000;
    height: 1000px;
    overflow-y: hidden;
}

*{
    text-align: center;
}
button{
    place-items: center;
    border-radius: 30%;
    background-color: black;
    box-shadow: 0 10px 10px #c80f0f;
    margin-top: 25px;
}

a{
    color: aliceblue;
    font-size: 40px;
    float: left;
    margin-left: 5px;
    font-family: Redaction50-Bold;
}

@font-face{
    font-family: Redaction50-Bold;
    src: url(Fonts/Redaction50-Bold.otf)
}

.header{
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 1fr 6fr;
  grid-template-rows: 100px;
  column-gap: 5px;
}

.home-list{
  height: 100%;
  object-fit: contain;
  float: right;
}

.entry-no{
  margin-top: 25px;
  margin-left: 25px;
}

.footers{
    font-family: Verdana-Bold-Italic;
}

.right-bottom-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #ff0000;
    font-family: Verdana-Bold-Italic;
  }

.left-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #ff0000;
  font-family: Verdana-Bold-Italic;
}

@font-face{
    font-family: Verdana-Bold-Italic;
    src: url(Fonts/Verdana-Bold-Italic.ttf)
}

.song_name{
  font-family: Redaction50-Bold;
  color: #ff0000;
}

.text-container {
    width: 100%;
    color: #fff;
    height:auto;
  text-align: center;
  padding: 0;
  margin: 0;
  }
  
  .typing-text {
    font-size: 340%;
    font-family: Redaction50-Bold;
    height: auto;
    white-space: nowrap;
    overflow:scroll;
    border-right: 2px solid #ff0000;
    animation: typing 4s steps(40) infinite, blink 1s steps(2) infinite;
  }
  
  .white-text {
    color: #fff; /* White text */
    margin: 7% 0 10px 5%;
  }

  .white-text-2{
    color: #fff; /* White text */
    margin: 7% 0 10px 45%;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  
  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: #ff0000; /* Green text */
    }
  }

.drive{
    margin-top: 5%;
    align-content: center;
    border-radius: 2%;
    box-shadow: 0 0 20px #c80f0f;
}